/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

html {
    font-size: 100%;
}

body {
    background-color: #355664;
    color: #FFF;
    font-family:  Arial, Helvetica, Verdana, sans-serif;
    font-size: .8em;
    line-height: 1.5em;
    text-shadow: 1px 1px 1px #333;
}

a {
    color: #FFF;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

#pageWrap {
    margin-bottom: 20px;
}

.widthConstraint {
    margin: 0 auto;
    position: relative;
    width: 760px;
}


/* -------------------------------------------------------------------------- */
/* -----| HEADER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#pageHeader {
    background-color: #FFF;
    color: #333;
    margin: 20px 0;
    padding: 20px 0;
    /*-moz-box-shadow: 0 2px 4px #24404C;*/
}

#pageHeader h1 {
    font-size: 2em;
    margin: 0;
    text-shadow: none;
}

#pageHeader p {
    color: #999;
    text-shadow: none;
    margin: 3px 0;
}

#pageHeader p a {
    color: #999;
}


/* -------------------------------------------------------------------------- */
/* -----| NAVIGATION |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#pageNavigation {
    background-color: #213E4A;
    border-radius: 3px;
    margin: 20px 0;
    padding: 8px;
    text-shadow: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#pageNavigation li {
    float: left;
    list-style: none;
    margin-right: 5px;
}

#pageNavigation li a {
    color: #FFF;
    display: block;
    padding: 2px 5px;
    text-decoration: none;
    text-transform: uppercase;
}

#pageNavigation li a:hover {
    background-color: #FFF;
    border-radius: 2px;
    color: #333;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}


/* -------------------------------------------------------------------------- */
/* -----| CONTENT |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

h2 {
    font-size: 1.6em;
    text-transform: uppercase;
}

#featuresList {
    /* NULL */
}

#featuresList li {
    float: left;
    margin: 0 1%;
    width: 48%;
}


/* -------------------------------------------------------------------------- */
/* -----| CODE FORMATTING |-------------------------------------------------- */
/* -------------------------------------------------------------------------- */

code {
    background-color: #213E4A;
    color: #FCFCFC;
    font-size: 12px;
    line-height: 1em;
    margin: 0;
    padding: 0 0.25em !important;
}

pre {
    background-color: #213E4A !important;
    color: #FCFCFC !important;
    font-size: 11px !important;
    margin: 1em 0 !important;
    overflow: auto !important;
    padding: 10px;
    text-shadow: none;
    -moz-border-radius: 3px;
}


/* -------------------------------------------------------------------------- */
/* -----| MISCELLANEOUS |---------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.line {
    background-color: #24404C;
    border-bottom: 1px solid #416371;
    height: 1px;
    margin: 2em 0;
    overflow: hidden;
}

