/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

html {
    font-size: 100%;
}

body {
    background-color: #355664;
    color: #FFF;
    font-family:  Arial, Helvetica, Verdana, sans-serif;
    font-size: .8em;
}

a {
    color: #FFF;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

#pageWrap {
    margin-bottom: 20px;
}

.widthConstraint {
    margin: 0 auto;
    position: relative;
    width: 780px;
}

#topButton {
    background: #232323 url(../images/arrow_up_24.png) no-repeat center center;
    background-color: rgba(0,0,0,.5);
    border-radius: 5px;
    top: 10px;
    display: inline-block;
    height: 24px;
    padding: 8px;
    margin-left: 790px;
    position: fixed;
    width: 24px;
}

#forkMeBanner {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

#forkMeBanner img {
    border: 0;
    display: inline-block;
}


/* -------------------------------------------------------------------------- */
/* -----| HEADER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#pageHeader {
    background-color: #FFF;
    color: #333;
    margin: 30px 0;
    padding: 20px 0;
}

#siteTitle {
    display: inline-block;
    padding-left: 160px;
}

#downloadLink {
    background: #8B0 url(../images/gradient_sprite.png) repeat-x left -120px;
    border-radius: 5px;
    color: #000;
    display: inline-block;
    margin-top: 2px;
    padding: 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #AD3;
}

#downloadLink:hover {
    background: #7A0 url(../images/gradient_sprite.png) repeat-x left -195px;
    text-shadow: 0 1px 0 #9C2;
}

#downloadLinkInner {
    background: transparent url(../images/arrow_full_down_32.png) no-repeat left center;
    padding-left: 40px;
}

#downloadLink .title {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: .5px;
}

#downloadLink .version {
    display: block;
    font-size: .95em;
    letter-spacing: .5px;
}

#titleImage {
    background: transparent url(../images/photo.png) no-repeat center center;
    display: block;
    height: 146px;
    left: 0;
    position: absolute;
    top: -40px;
    width: 152px;
}

#pageHeader h1 {
    display: block;
    font-size: 3.5em;
    letter-spacing: 2px;
    margin: -5px 0 0;
}

#pageHeader p {
    color: #999;
    display: block;
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: .75px;
    margin: -4px 20px 0;
}

#pageHeader p a {
    color: #999;
}


/* -------------------------------------------------------------------------- */
/* -----| NAVIGATION |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#pageNavigation {
    background: #CDCDCD url(../images/gradient_sprite.png) repeat-x left 0px;
    border-radius: 5px;
    margin: 30px 0;
    padding: 0;
}

#pageNavigation li {
    float: left;
    list-style: none;
    position: relative;
}

#pageNavigation li a, #pageNavigation li .fakeLink {
    color: #555;
    display: block;
    padding: 10px 12px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #F6F6F6;
    z-index: 100;
}

#pageNavigation li.first a, #pageNavigation li.first .fakeLink {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-left: none;
}

/* #pageNavigation li.last a, #pageNavigation li.last .fakeLink {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-right: none;
} */

#pageNavigation li:hover a, #pageNavigation li:hover .fakeLink {
    background: #BCBCBC url(../images/gradient_sprite.png) repeat-x left -60px;
    cursor: pointer;
    text-shadow: 0 1px 0 #E6E6E6;
}


/* ----- SUB NAVIGATION ----- */

#pageNavigation ul {
    background-color: #BCBCBC;
    box-shadow: 0 2px 3px #212121;
    display: none;
    left: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    z-index: 50;
}


#pageNavigation li:hover ul {
    display: block;
}


#pageNavigation ul li {
    float: none;
    margin: 0;
    width: 100%;
}

#pageNavigation ul li a {
    background: transparent !important;
    border: none;
    display: block;
    white-space: nowrap;
}

#pageNavigation ul li:hover a {
    background-color: #ABABAB !important;
    text-shadow: 0 1px 0 #D6D6D6 !important;
}

/* ----- FOLLOW LINKS ----- */

#pageNavigation .followLinks {
    border-left: 1px solid #CDCDCD;
    color: #555;
    display: block;
    float: right;
    text-decoration: none;
    text-shadow: 0 1px 0 #F6F6F6;
}

#pageNavigation .followLinks .followLinksInner {
    border-left: 1px solid #FFF;
    padding: 9px 12px;
}

#pageNavigation .followLinks a {
    background: transparent none;
    display: inline-block;
    height: 16px;
    margin: 0 0 0 3px;
    padding: 0;
    position: relative;
    top: 3px;
    width: 16px;
}


/* -------------------------------------------------------------------------- */
/* -----| CONTENT |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#pageContent {
    line-height: 1.5em;
}

#pageContent p {
    text-align: justify;
}

.contentBox {
    background-color: #213E4A;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.contentBox .line {
    background-color: #15242A;
    border-bottom-color: #204656;
    margin: 15px 0;
}

h2 {
    font-size: 1.6em;
    letter-spacing: 1px;
    margin: 0;
}

h3 {
    font-size: 1.3em;
    letter-spacing: 1px;
    margin: 2em 0 1em;
}

h4 {
    font-size: 1.1em;
    margin: 0;
}

#featuresList {
    /* NULL */
}

#featuresList li {
    float: left;
    margin: 0 1%;
    width: 48%;
}

#footerTable {
    margin: 0 auto 20px;
    width: 300px;
}

#footerTable tr {
    vertical-align: middle;
}

#footerTable tr td {
    padding: 0;
    text-align: center;
    width: 33%;
}


/* -------------------------------------------------------------------------- */
/* -----| DOWNLOADS |-------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#downloadButtons {
    text-align: center;
}

#downloadButtons a {
    background: #CDCDCD url(../images/gradient_sprite.png) repeat-x scroll left 0;
    border-radius: 3px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin: 0 10px;
    padding: 14px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #F6F6F6;
}

#downloadButtons a:hover {
    background: #BCBCBC url(../images/gradient_sprite.png) repeat-x left -60px;    
}

#downloadTable {
    width: 100%;
}

#downloadTable th.description {
    text-align: left;
}

#downloadTable th.createDate {
    text-align: right;
}

#downloadTable th.fileSize {
    text-align: right;
}

#downloadTable th.downloadCount {
    text-align: right;
}

#downloadTable tr.odd {
    background-color: #204656;
    background-color: rgba(0,0,0,.2);
}

#downloadTable tr.even {
    background-color: #15242A;
    background-color: rgba(0,0,0,.4);
}

#downloadTable tr td.description {
    /* NULL */    
}

#downloadTable tr td.createDate {
    text-align: right;
}

#downloadTable tr td.fileSize {
    text-align: right;
}

#downloadTable tr td.downloadCount {
    text-align: right;
}





/* -------------------------------------------------------------------------- */
/* -----| FREQUENTLY ASKED QUESTIONS |--------------------------------------- */
/* -------------------------------------------------------------------------- */

#faqList {
    margin: 0;
}

#faqList dt {
    font-weight: bold;
    margin: 1em 0;
}

#faqList dd {
    margin-left: 1.5em;
    margin-bottom: 1em;
    text-align: justify;
}


/* -------------------------------------------------------------------------- */
/* -----| FOOTER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#footerText {
    border-top: 1px solid #24404C;
    border-bottom: 1px solid #416371;
    margin: 30px 0;
}

#footerTextInner {
    border-top: 1px solid #416371;
    border-bottom: 1px solid #24404C;
    padding: 10px 0;
}

#footerText p {
    font-size: .9em;
    margin: .25em 0;
    text-align: center;
}


/* -------------------------------------------------------------------------- */
/* -----| CODE FORMATTING |-------------------------------------------------- */
/* -------------------------------------------------------------------------- */

code {
    background-color: #15242A;
    border-top: 1px solid #132228;
    border-left: 1px solid #132228;
    border-right: 1px solid #204656;
    border-bottom: 1px solid #204656;
    color: #FCFCFC;
    font-size: 12px;
    line-height: 1em;
    margin: 0;
    padding: 0 0.25em !important;
}

pre {
    background-color: #15242A;
    border-top: 1px solid #132228;
    border-left: 1px solid #132228;
    border-right: 1px solid #204656;
    border-bottom: 1px solid #204656;
    color: #FCFCFC !important;
    font-size: 11px !important;
    margin: 1em 0 !important;
    overflow: auto !important;
    padding: 10px;
}


/* -------------------------------------------------------------------------- */
/* -----| MISCELLANEOUS |---------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.line {
    background-color: #24404C;
    border-bottom: 1px solid #416371;
    height: 1px;
    margin: 30px 0;
    overflow: hidden;
}

.dropDownLink {
    background: transparent url(../images/icons/down_triangle.png) no-repeat right center;
    padding-right: 12px;
}

.externalLink {
    background: transparent url(../images/icons/external_link.png) no-repeat right center;
    padding-right: 14px;
}

#demoLinks {
    font-size: 1.1em;
}

#demoLinks p {
    margin: 0;
}

.alignLeft{
    text-align: left !important;
}

.alignCenter {
    text-align: center !important;
}

.alignRight {
    text-align: right !important;
}



