<table id="footerTable" cellpadding="0" cellspacing="0">
    <tr>
        
        <td>
            <!-- Place this tag where you want the +1 button to render. -->
            <div class="g-plusone" data-size="medium"></div>
            
            <!-- Place this tag after the last +1 button tag. -->
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
        </td>
        
        <td>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-like" data-href="http://www.ubergallery.net" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false"></div>
        </td>
        
        <td>
            <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.ubergallery.net&media=http%3A%2F%2Fwww.ubergallery.net%2Fimages%2Fphoto.png&description=UberGallery%20is%20an%20easy%20to%20use%2C%20simple%20to%20manage%2C%20web%20photo%20gallery%20written%20in%20PHP%20and%20distributed%20under%20the%20MIT%20License.%20UberGallery%20does%20not%20require%20a%20database%20and%20supports%20JPEG%2C%20GIF%20and%20PNG%20file%20types." class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
            <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
        </td>
        
        <td>
            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </td>
        
    </tr>
</table>